.App {
    direction: rtl ;
}

body{
    background-color: #E2E8F0!important;

}

/* @media only screen and (max-width: 768px){
    body {
        background-color: RGBA(255, 255, 255, 0.48) !important;
    }
} */
/* MADA FONT */
@font-face {
    font-family: Readex;
    src: url("../public/fonts/ReadexPro-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Readex;
    src: url("../public/fonts/ReadexPro-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Readex;
    src: url("../public/fonts/ReadexPro-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Readex;
    src: url("../public/fonts/ReadexPro-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Readex;
    src: url("../public/fonts/ReadexPro-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Readex;
    src: url("../public/fonts/ReadexPro-Bold.ttf");
    font-weight: 700;
}